.without_sidebar
  = form_with(model: @brand, local: true, url: admin_brandpage_create_path, class: 'formtastic admin_user') do |f|
    %fieldset.inputs
      %ol
        %li.input.required.stringish
          = f.label(:name, class: 'label')
          = f.text_field(:name)
          - unless @brand.errors[:name].empty?
            %p.inline-errors
              = @brand.errors[:name].join(', ')
    %fieldset.actions
      %ol
        %li.action.input_action
          = f.submit(I18n.t('save'))