.panel
  %h3
    = Brand.model_name.human
  .panel_contents
    = render partial: 'shared/attribute_table', locals: { subject: @brand }
.panel
  %h3
    = BrandFile.model_name.human(count: 3)
  .panel_contents
    = render layout: 'shared/paginated_table', locals: { subject_class: BrandFile, subject_collection: @brand.files } do |subject|
      = delete_brand_file_link(@brand, subject) if @brand.state == 'Draft'
.panel
  %h3
    = BuildingHistory.model_name.human(count: 3)
  .panel_contents
    = render partial: 'shared/paginated_table', locals: { subject_class: BuildingHistory, subject_collection: @brand.building_history }